.navbar {
   display: inline-block;
   padding: 0;
   margin: 0;
}

.navbar li:first-child {
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.navbar li:last-child {
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

.navbar li {
   display: inline;
   color: black;
   float: left;
   padding: 8px 16px;
   text-decoration: none;
   border: 1px solid white;
   transition: background-color .5s;
   margin: 0 4px;
   font-family: 'Cookie', cursive;
   font-weight: 700;
   background-color: white;
}

.navbar li:active {
   background-color: #4CAF50;
   border-radius: 5px;
   color: white;
}

.navbar li:hover:not(:active) {
   background-color: #ddd;
   border-radius: 5px;
}